Repository nomanova/ojeda: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-web.yml

azure-pipelines-api.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/api/*
      - src/shared/*
      - test/api/*
      - azure-pipelines-api.yml
      - Api.Dockerfile

pr: none

pool:
  vmImage: 'ubuntu-20.04'

steps:
  # Docker image
  - task: Docker@2
    displayName: 'Build Image'
    inputs:
      command: build
      Dockerfile: 'Api.Dockerfile'

azure-pipelines-web.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/web/*
      - src/shared/*
      - azure-pipelines-web.yml
      - Web.Dockerfile

pr: none

pool:
  vmImage: 'ubuntu-20.04'

steps:
  # Docker image
  - task: Docker@2
    displayName: 'Build Image'
    inputs:
      command: build
      Dockerfile: 'Web.Dockerfile'

Asset Classes
  src/api/NomaNova.Ojeda.Api/Controllers/AssetClassesController.cs
  src/api/NomaNova.Ojeda.Api/NomaNova.Ojeda.Api.csproj
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Core/Domain/AssetClasses/AssetClass.cs
  src/api/NomaNova.Ojeda.Core/Domain/AssetClasses/AssetClassFieldSet.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseContext.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210910150438_InitAssetClasses.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210910150438_InitAssetClasses.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassProfile.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassesService.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/IAssetClassesService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetProfile.cs
  src/shared/NomaNova.Ojeda.Client/OjedaClient.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetClasses/AssetClassesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetClasses/IAssetClassesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/FieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/IFieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Models/AssetClasses/AssetClassDto.cs
  src/shared/NomaNova.Ojeda.Models/FieldSets/FieldSetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AddAssetClassPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AddFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AssetClassForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/EditAssetClassPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/ListAssetClassesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Search.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Assets (part 1)
  src/api/NomaNova.Ojeda.Api/Controllers/AssetClassesController.cs
  src/api/NomaNova.Ojeda.Api/Controllers/AssetsController.cs
  src/api/NomaNova.Ojeda.Api/Controllers/FieldsController.cs
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Core/Domain/AssetClasses/AssetClass.cs
  src/api/NomaNova.Ojeda.Core/Domain/Assets/Asset.cs
  src/api/NomaNova.Ojeda.Core/Domain/Assets/FieldValue.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseContext.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseExtensions.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210914145646_InitAssets.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210914145646_InitAssets.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210914155854_InitFieldValues.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20210914155854_InitFieldValues.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassesService.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/IAssetClassesService.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetProfile.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/IAssetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/IFieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/IFieldsService.cs
  src/shared/NomaNova.Ojeda.Models/Assets/AssetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Layout/MainLayout.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Assets (part 2)
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassProfile.cs
  src/api/NomaNova.Ojeda.Services/AssetClasses/AssetClassesService.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/OjedaClient.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/IAssetsService.cs
  src/shared/NomaNova.Ojeda.Models/AssetClasses/AssetClassDto.cs
  src/shared/NomaNova.Ojeda.Models/Assets/AssetDto.cs
  src/web/NomaNova.Ojeda.Web/Constants.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AddFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AssetClassForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/ListAssetClassesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/_Imports.razor
  src/web/NomaNova.Ojeda.Web/NomaNova.Ojeda.Web.csproj
  src/web/NomaNova.Ojeda.Web/Shared/Components/FormSection.razor
  src/web/NomaNova.Ojeda.Web/Shared/Extensions/NavigationManagerExtensions.cs
  src/web/NomaNova.Ojeda.Web/_Imports.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Cleanup with templates
  src/shared/NomaNova.Ojeda.Models/AssetClasses/AssetClassDto.cs
  src/shared/NomaNova.Ojeda.Models/Assets/AssetDto.cs
  src/shared/NomaNova.Ojeda.Models/FieldSets/FieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Fields/FieldDto.cs
  src/shared/NomaNova.Ojeda.Models/IIdentityDto.cs
  src/shared/NomaNova.Ojeda.Models/INamedDto.cs
  src/web/NomaNova.Ojeda.Web/Constants.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AddFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/AssetClassForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/ListAssetClassesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetClasses/SelectFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/SelectFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/SelectAssetClassModal.razor
  src/web/NomaNova.Ojeda.Web/Shared/Base/ListItemsPage.cs
  src/web/NomaNova.Ojeda.Web/Shared/Base/SelectItemModal.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Description.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/ActionsTableTemplate.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/ActionsTableTemplate.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/SelectItemModalTemplate.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/SelectItemModalTemplate.razor.css
  src/web/NomaNova.Ojeda.Web/_Imports.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Split get/update/create dto's for asset types
  src/api/NomaNova.Ojeda.Api/Controllers/AssetTypesController.cs
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseContext.cs
  src/api/NomaNova.Ojeda.Data/Seeders/AssetTypesSeeder.cs
  src/api/NomaNova.Ojeda.Data/Seeders/FieldSetsSeeder.cs
  src/api/NomaNova.Ojeda.Data/Seeders/FieldsSeeder.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypeDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypeProfile.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Interfaces/IAssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Validators/CreateAssetTypeDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Validators/UpdateAssetTypeDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/Validators/CreateFieldSetDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/Validators/UpdateFieldSetDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/Fields/Validators/CreateFieldDtoBusinessValidator.cs
  src/api/NomaNova.Ojeda.Services/Fields/Validators/UpdateFieldDtoBusinessValidator.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/AssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/IAssetTypesService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/AssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/Base/UpsertAssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/CreateAssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/UpdateAssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/Base/UpsertFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/CreateFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/UpdateFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/Validators/CreateFieldSetDtoFieldValidator.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/Validators/UpdateFieldSetDtoFieldValidator.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/Base/UpsertFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/CreateFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/UpdateFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/Validators/CreateFieldDtoFieldValidator.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/Validators/UpdateFieldDtoFieldValidator.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypeForm.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetPage.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Bugfix: explicitly declare form validator
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/Base/UpsertFieldSetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/HomePage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Button/OjedaButton.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Bugfix: clear error message when field/fielset is added
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetPage.cs
Due: azure-pipelines-web.yml

Devops badges + push images to Dockerhub
  NomaNova.Ojeda.sln
  README.md
  azure-pipelines-api.yml
  azure-pipelines-web.yml
  dev/README.md
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Initial list asset page: table & grid
  src/api/NomaNova.Ojeda.Api/Constants.cs
  src/api/NomaNova.Ojeda.Api/Utils/Swagger.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/IAssetsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/AssetDto.cs
  src/web/NomaNova.Ojeda.Web/Constants.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetCard.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetCard.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Base/ListItemsPage.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Pager/OjedaPager.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Table/Alignment.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Table/ColumnDefinition.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Table/DataType.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Table/OjedaTable.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Table/OjedaTable.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Components/ViewSwitcher/ViewMode.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/ViewSwitcher/ViewSelector.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/ViewSwitcher/ViewSwitcher.razor
  src/web/NomaNova.Ojeda.Web/_Imports.razor
  src/web/NomaNova.Ojeda.Web/wwwroot/css/app.css
  src/web/NomaNova.Ojeda.Web/wwwroot/img/laptop_macbook.jpg
  src/web/NomaNova.Ojeda.Web/wwwroot/img/mobile_iphone.jpg
  src/web/NomaNova.Ojeda.Web/wwwroot/index.html
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Fix pipeline files
  azure-pipelines-api.yml
  azure-pipelines-web.yml
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

First logo and favicon
  README.md
  src/web/NomaNova.Ojeda.Web/Features/Layout/Header.razor
  src/web/NomaNova.Ojeda.Web/wwwroot/favicon.ico
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/android-chrome-192x192.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/android-chrome-512x512.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/apple-touch-icon.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/browserconfig.xml
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/favicon-16x16.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/favicon-32x32.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/favicon.ico
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/mstile-150x150.png
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/safari-pinned-tab.svg
  src/web/NomaNova.Ojeda.Web/wwwroot/favicons/site.webmanifest
  src/web/NomaNova.Ojeda.Web/wwwroot/index.html
  src/web/NomaNova.Ojeda.Web/wwwroot/logo.svg
Due: azure-pipelines-web.yml

Add asset form cleanup
  src/api/NomaNova.Ojeda.Api/Controllers/AssetsController.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldValueConverter.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/IAssetsService.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Button/ButtonStyle.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Button/OjedaButton.razor
  src/web/NomaNova.Ojeda.Web/wwwroot/css/app.css
  src/web/NomaNova.Ojeda.Web/wwwroot/index.html
  src/web/NomaNova.Ojeda.Web/wwwroot/logo_grey.svg
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Field data (API)
  src/api/NomaNova.Ojeda.Api/Middleware/RequestResponseLoggingMiddleware.cs
  src/api/NomaNova.Ojeda.Api/NomaNova.Ojeda.Api.csproj
  src/api/NomaNova.Ojeda.Api/Options/Framework/AppMvcOptions.cs
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/Field.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/FieldData.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/FieldType.cs
  src/api/NomaNova.Ojeda.Core/Exceptions/ValidationException.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/AssetEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/AssetTypeEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/AssetTypeFieldSetEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldSetEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldSetFieldEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldValueEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Context/Converters/FieldDataJsonConverter.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseContext.cs
  src/api/NomaNova.Ojeda.Data/Context/DatabaseContextFactory.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211004202122_AddFieldData.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211004202122_AddFieldData.cs
  src/api/NomaNova.Ojeda.Data/Seeders/FieldsSeeder.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/BaseService.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldProfile.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/BaseService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/Base/UpsertFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/FieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/FieldDto.cs
  src/shared/NomaNova.Ojeda.Models/NomaNova.Ojeda.Models.csproj
  src/shared/NomaNova.Ojeda.Models/Shared/Converters/FieldDataDtoJsonConverter.cs
  src/shared/NomaNova.Ojeda.Utils/Extensions/CollectionExtensions.cs
  src/shared/NomaNova.Ojeda.Utils/JsonSettings.cs
  src/shared/NomaNova.Ojeda.Utils/Services/Interfaces/ISerializer.cs
  src/shared/NomaNova.Ojeda.Utils/Services/Serializer.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/FieldsControllerTests.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Field data (Web)
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/FieldDataDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetPage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/FieldPage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
  src/web/NomaNova.Ojeda.Web/Program.cs
  src/web/NomaNova.Ojeda.Web/Shared/Base/FormPage.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Example docker compose file for demo purposes
  README.md
  build/web/run.sh
  docker-compose.yml
  src/web/NomaNova.Ojeda.Web/Constants.cs
  src/web/NomaNova.Ojeda.Web/Program.cs
Due: azure-pipelines-web.yml

Asset form validation basic implementation
  src/api/NomaNova.Ojeda.Api/Options/Framework/AppMvcOptions.cs
  src/api/NomaNova.Ojeda.Core/Domain/AssetTypes/AssetType.cs
  src/api/NomaNova.Ojeda.Core/Domain/FieldSets/FieldSet.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/Field.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/FieldProperties.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/NumberFieldProperties.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/TextFieldProperties.cs
  src/api/NomaNova.Ojeda.Core/IDescribedEntity.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldDataValidator.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldPropertiesResolver.cs
  src/api/NomaNova.Ojeda.Services/Assets/Interfaces/IFieldDataValidator.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/AssetDtoFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/IFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/CreateAssetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/DoubleFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/FieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/FieldDataTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/LongFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/StringFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/UpdateAssetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/FieldPropertiesDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/NumberFieldPropertiesDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/TextFieldPropertiesDto.cs
  src/shared/NomaNova.Ojeda.Models/Shared/Converters/FieldDataDtoJsonConverter.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Validation/AssetEditContextFluentValidationExtensions.cs
  src/web/NomaNova.Ojeda.Web/NomaNova.Ojeda.Web.csproj
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Addition of required fields
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Core/Domain/FieldSets/FieldSetField.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211102195750_AddRequiredField.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211102195750_AddRequiredField.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldDataConverter.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldDataValidator.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldPropertiesResolver.cs
  src/api/NomaNova.Ojeda.Services/Assets/Interfaces/IFieldDataConverter.cs
  src/api/NomaNova.Ojeda.Services/Assets/Interfaces/IFieldDataValidator.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/AssetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/AssetDtoFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/IFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/DoubleFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/LongFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/StringFieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/Base/UpsertFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/FieldSetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Validation/AssetEditContextFluentValidationExtensions.cs
  src/web/NomaNova.Ojeda.Web/Program.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Readme update
  README.md
Due: none

Bugfix: validation of single field
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/FieldSetPage.cs
Due: azure-pipelines-web.yml

Asset details page scaffold
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetFieldsTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetNotesTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTab.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTabSelector.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTabSwitcher.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/ViewSwitcher/ViewSelector.razor
Due: azure-pipelines-web.yml

Asset fields edit
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/CreateAssetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/FieldDataDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/UpdateAssetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/EditAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetFieldsTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetNotesTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTab.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTabSelector.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Tabs/AssetTabSwitcher.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/UpsertAssetPage.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Validation/AssetEditContextFluentValidationExtensions.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/App/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/TabControl/TabControl.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/TabControl/TabPage.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Confirm asset deletion
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/SelectFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/SelectFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/DeleteAssetModal.razor
  src/web/NomaNova.Ojeda.Web/Shared/Base/DeleteItemModal.cs
  src/web/NomaNova.Ojeda.Web/Shared/Base/SelectItemModal.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/DeleteItemModalTemplate.razor
Due: azure-pipelines-web.yml

Add asset search (by name)
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
Due: azure-pipelines-web.yml

Delete field with dry run (API)
  src/api/NomaNova.Ojeda.Api/Controllers/FieldsController.cs
  src/api/NomaNova.Ojeda.Core/Domain/Fields/Field.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldValueEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211124215056_AddFieldToFieldValueRelation.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211124215056_AddFieldToFieldValueRelation.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/Interfaces/IFieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/IFieldsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/DeleteFieldDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Fix API unit tests
  src/api/NomaNova.Ojeda.Api/Startup.cs
  src/api/NomaNova.Ojeda.Api/Utils/EnvUtils.cs
Due: azure-pipelines-api.yml

Delete field with dry run (UI)
  src/api/NomaNova.Ojeda.Api/Controllers/FieldsController.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/DeleteAssetTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/ListAssetTypesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/DeleteFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/DeleteFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/DeleteAssetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/SelectAssetTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Shared/Base/DeleteItemModal.cs
  src/web/NomaNova.Ojeda.Web/Shared/Base/DryRunDeleteItemModal.cs
  src/web/NomaNova.Ojeda.Web/Shared/Base/ListItemsPage.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/DeleteItemModalTemplate.razor
  src/web/NomaNova.Ojeda.Web/Shared/Extensions/StringExtensions.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Delete field set with dry run
  src/api/NomaNova.Ojeda.Api/Controllers/FieldSetsController.cs
  src/api/NomaNova.Ojeda.Core/Domain/FieldSets/FieldSet.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/FieldValueEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211126174122_AddFieldSetToFieldValueRelation.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211126174122_AddFieldSetToFieldValueRelation.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/Interfaces/IFieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/FieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/IFieldSetsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/DeleteFieldSetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/DeleteFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/DeleteFieldModal.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Delete asset type with dry run
  src/api/NomaNova.Ojeda.Api/Controllers/AssetTypesController.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/AssetEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211126182039_AssetTypeAssetCascadeDelete.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211126182039_AssetTypeAssetCascadeDelete.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Interfaces/IAssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/AssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/IAssetTypesService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/DeleteAssetTypeDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/DeleteAssetTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/ListAssetTypesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/DeleteFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/DeleteFieldModal.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Switch to expandable page layout
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/ListAssetTypesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/ListFieldSetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/AddFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/EditFieldPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/ListFieldsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetCard.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/ListAssetsPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Layout/Page.razor
  src/web/NomaNova.Ojeda.Web/Features/Layout/Page.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Base/ListItemsPage.cs
  src/web/NomaNova.Ojeda.Web/Shared/Components/Button/OjedaButton.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Form/OjedaFormFooter.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/FormSection.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/ExpandablePage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/ExpandablePage.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/PageHeader.razor
Due: azure-pipelines-web.yml

Asset page layout & field editing
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetCard.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetCard.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetHeader.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetHeader.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetTab.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/FieldsAssetTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/EditAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/OjedaLoader.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Split dry run deletes in separate endpoints
  src/api/NomaNova.Ojeda.Api/Controllers/AssetTypesController.cs
  src/api/NomaNova.Ojeda.Api/Controllers/FieldSetsController.cs
  src/api/NomaNova.Ojeda.Api/Controllers/FieldsController.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Interfaces/IAssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/Interfaces/IFieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/Interfaces/IFieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/AssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/IAssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/FieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/IFieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Fields/IFieldsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/DryRunDeleteAssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/DryRunDeleteFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/DryRunDeleteFieldDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/DeleteAssetTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/AddFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/DeleteFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/EditFieldSetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/Fields/DeleteFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Shared/Base/DryRunDeleteItemModal.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Convert field storage to string + field set update dry run (API)
  src/api/NomaNova.Ojeda.Api/Controllers/FieldSetsController.cs
  src/api/NomaNova.Ojeda.Core/Domain/Assets/FieldValue.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211202203846_FieldValueByteToString.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211202203846_FieldValueByteToString.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldDataConverter.cs
  src/api/NomaNova.Ojeda.Services/Assets/Interfaces/IFieldDataConverter.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/Interfaces/IFieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/DryRunUpdateFieldSetDto.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Additional functional tests + asset type update dry run (API)
  NomaNova.Ojeda.sln.DotSettings
  src/api/NomaNova.Ojeda.Api/Controllers/AssetTypesController.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypeProfile.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Interfaces/IAssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetProfile.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetProfile.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
  src/api/NomaNova.Ojeda.Services/Fields/FieldsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/AssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetTypes/IAssetTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/FieldSetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/FieldSets/IFieldSetsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/DryRunUpdateAssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/DryRunDeleteFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/FieldSets/DryRunUpdateFieldSetDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Fields/DryRunDeleteFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Shared/NamedEntityDto.cs
  test/api/NomaNova.Ojeda.Api.Tests/Builders/AssetBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Builders/AssetTypeBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Builders/FieldBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Builders/FieldSetBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Builders/RequestBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/AssetTypesControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/AssetsControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/Base/ApiTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/FieldSetsControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/FieldsControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Factories/AssetFactory.cs
  test/api/NomaNova.Ojeda.Api.Tests/Factories/AssetTypeFactory.cs
  test/api/NomaNova.Ojeda.Api.Tests/Factories/FieldFactory.cs
  test/api/NomaNova.Ojeda.Api.Tests/Factories/FieldSetFactory.cs
  test/api/NomaNova.Ojeda.Api.Tests/Helpers/DatabaseHelper.cs
  test/api/NomaNova.Ojeda.Api.Tests/Helpers/FactoryHelper.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Initial github actions
  .github/workflows/build_api.yml
Due: none
