Repository nomanova/ojeda: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-web.yml

azure-pipelines-api.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/api/*
      - src/shared/*
      - test/api/*
      - azure-pipelines-api.yml
      - Api.Dockerfile

pr: none

pool:
  vmImage: 'ubuntu-20.04'

variables:
  - name: 'DOCKER_FILE'
    value: 'Api.Dockerfile'
  - name: 'DOCKER_REGISTRY'
    value: 'dockerhub'
  - name: 'DOCKER_REPOSITORY'
    value: 'nomanova/ojeda-api'

steps:
  - task: Docker@2
    displayName: 'Build Image'
    inputs:
      command: build
      containerRegistry: '$(DOCKER_REGISTRY)'
      repository: '$(DOCKER_REPOSITORY)'
      Dockerfile: '$(DOCKER_FILE)'
      tags: |
        $(Build.BuildId)
        latest
  - task: Docker@2
    displayName: 'Push Image'
    inputs:
      command: push
      containerRegistry: '$(DOCKER_REGISTRY)'
      repository: '$(DOCKER_REPOSITORY)'
      tags: |
        $(Build.BuildId)
        latest

azure-pipelines-web.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - src/web/*
      - src/shared/*
      - azure-pipelines-web.yml
      - Web.Dockerfile

pr: none

pool:
  vmImage: 'ubuntu-20.04'

steps:
  # Docker image
  - task: Docker@2
    displayName: 'Build Image'
    inputs:
      command: build
      Dockerfile: 'Web.Dockerfile'

API github action
  .github/workflows/build_api.yml
  src/api/NomaNova.Ojeda.Api/Startup.cs
Due: azure-pipelines-api.yml

API build action, fix yml syntax
  .github/workflows/build_api.yml
Due: none

Trigger API build
  src/api/NomaNova.Ojeda.Api/Startup.cs
Due: azure-pipelines-api.yml

Addition of web github action
  .github/workflows/build_web.yml
Due: none

Include latest tag
  .github/workflows/build_api.yml
  .github/workflows/build_web.yml
Due: none

Addition of sonarcloud analysis
  .github/workflows/build_api.yml
  .github/workflows/build_web.yml
  Api.Dockerfile
  NomaNova.Ojeda.sln
  README.md
  Web.Dockerfile
  azure-pipelines-api.yml
  azure-pipelines-web.yml
  test/api/NomaNova.Ojeda.Api.Tests/NomaNova.Ojeda.Api.Tests.csproj
  test/shared/NomaNova.Ojeda.Utils.Tests/NomaNova.Ojeda.Utils.Tests.csproj
  test/web/NomaNova.Ojeda.Web.Tests/NomaNova.Ojeda.Web.Tests.csproj
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Avoid building image twice
  .github/workflows/build_api.yml
  .github/workflows/build_web.yml
  README.md
Due: none

Bugfix: ensure correct field and field set ordering
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/FieldSets/FieldSetsService.cs
Due: azure-pipelines-api.yml

Sidebar cleanup
  src/web/NomaNova.Ojeda.Web/App.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/App/AppLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/App/HomePage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/_Imports.razor
  src/web/NomaNova.Ojeda.Web/NomaNova.Ojeda.Web.csproj
  src/web/NomaNova.Ojeda.Web/Shared/Components/Sidebar/Sidebar.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Sidebar/SidebarButton.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Sidebar/SidebarButton.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Components/Sidebar/SidebarSection.razor
  src/web/NomaNova.Ojeda.Web/Shared/Layout/Header.razor
  src/web/NomaNova.Ojeda.Web/Shared/Layout/Page.razor
  src/web/NomaNova.Ojeda.Web/Shared/Layout/Page.razor.css
  src/web/NomaNova.Ojeda.Web/Shared/Layout/Toasts.razor
Due: azure-pipelines-web.yml

Asset patch endpoint + name edit
  src/api/NomaNova.Ojeda.Api/Controllers/AssetsController.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetProfile.cs
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/Interfaces/IAssetsService.cs
  src/api/NomaNova.Ojeda.Services/BaseService.cs
  src/api/NomaNova.Ojeda.Services/NomaNova.Ojeda.Services.csproj
  src/shared/NomaNova.Ojeda.Client/NomaNova.Ojeda.Client.csproj
  src/shared/NomaNova.Ojeda.Client/Services/Assets/AssetsService.cs
  src/shared/NomaNova.Ojeda.Client/Services/Assets/IAssetsService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/PatchAssetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/SelectFieldSetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/FieldSets/SelectFieldModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetCard.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetHeader.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/AssetHeader.razor.css
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/FieldsAssetTab.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Modals/DeleteAssetModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Modals/EditNameModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/SelectAssetTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/App/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Form/OjedaFormField.razor
  src/web/NomaNova.Ojeda.Web/Shared/Validation/EditContextFluentValidationExtensions.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/AssetsControllerTests.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Upgrade from .net5 to .net6
  Api.Dockerfile
  Web.Dockerfile
  src/api/NomaNova.Ojeda.Api/NomaNova.Ojeda.Api.csproj
  src/api/NomaNova.Ojeda.Core/NomaNova.Ojeda.Core.csproj
  src/api/NomaNova.Ojeda.Data/NomaNova.Ojeda.Data.csproj
  src/api/NomaNova.Ojeda.Services/NomaNova.Ojeda.Services.csproj
  src/shared/NomaNova.Ojeda.Client/NomaNova.Ojeda.Client.csproj
  src/shared/NomaNova.Ojeda.Models/NomaNova.Ojeda.Models.csproj
  src/shared/NomaNova.Ojeda.Utils/NomaNova.Ojeda.Utils.csproj
  src/web/NomaNova.Ojeda.Web/NomaNova.Ojeda.Web.csproj
  test/api/NomaNova.Ojeda.Api.Tests/NomaNova.Ojeda.Api.Tests.csproj
  test/shared/NomaNova.Ojeda.Utils.Tests/NomaNova.Ojeda.Utils.Tests.csproj
  test/web/NomaNova.Ojeda.Web.Tests/NomaNova.Ojeda.Web.Tests.csproj
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Add id type selection to asset types
  src/api/NomaNova.Ojeda.Core/Domain/AssetIdTypes/AssetIdType.cs
  src/api/NomaNova.Ojeda.Core/Domain/AssetTypes/AssetType.cs
  src/api/NomaNova.Ojeda.Data/Context/Configurations/AssetTypeEntityTypeConfiguration.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211221143902_AddAssetIdTypeToAssetType.Designer.cs
  src/api/NomaNova.Ojeda.Data/Migrations/20211221143902_AddAssetIdTypeToAssetType.cs
  src/api/NomaNova.Ojeda.Services/AssetIdTypes/AssetIdTypeProfile.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/AssetTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetTypes/Validators/CreateAssetTypeDtoBusinessValidator.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/AssetTypeDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetTypes/Base/UpsertAssetTypeDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AdminLayout.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AddAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/AssetTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/EditAssetTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/SelectAssetIdTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/AssetTypes/_Imports.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/AddIdTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/EditIdTypePage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/IdTypePage.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/ListIdTypesPage.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/_Imports.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Delete id type with dry run
  src/api/NomaNova.Ojeda.Api/Controllers/AssetIdTypesController.cs
  src/api/NomaNova.Ojeda.Services/AssetIdTypes/AssetIdTypesService.cs
  src/api/NomaNova.Ojeda.Services/AssetIdTypes/Interfaces/IAssetIdTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetIdTypes/AssetIdTypesService.cs
  src/shared/NomaNova.Ojeda.Client/Services/AssetIdTypes/IAssetIdTypesService.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/AssetIdTypes/DryRunDeleteAssetIdTypeDto.cs
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/DeleteIdTypeModal.razor
  src/web/NomaNova.Ojeda.Web/Features/Admin/IdTypes/ListIdTypesPage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/Templates/ActionModalTemplate.razor
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Bugfix: required field resolution
  src/api/NomaNova.Ojeda.Services/Assets/AssetsService.cs
  src/api/NomaNova.Ojeda.Services/Assets/FieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/AssetDtoFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/IFieldPropertiesResolver.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetFieldDto.cs
  src/shared/NomaNova.Ojeda.Models/Dtos/Assets/Base/UpsertAssetFieldSetDto.cs
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Validation/AssetEditContextFluentValidationExtensions.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Bugfix: asset detail field reset button
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/Components/FieldsAssetTab.razor
Due: azure-pipelines-web.yml

Fix unit tests
  test/api/NomaNova.Ojeda.Api.Tests/Builders/AssetTypeBuilder.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/AssetIdTypesControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Controllers/AssetTypesControllerTests.cs
  test/api/NomaNova.Ojeda.Api.Tests/Factories/AssetTypeFactory.cs
  test/api/NomaNova.Ojeda.Api.Tests/Fixtures/DefaultAssetFixture.cs
Due: azure-pipelines-api.yml

Swagger cleanup
  src/api/NomaNova.Ojeda.Api/Controllers/AssetIdTypesController.cs
  src/api/NomaNova.Ojeda.Api/Controllers/AssetIdsController.cs
Due: azure-pipelines-api.yml

Form section border
  src/web/NomaNova.Ojeda.Web/Features/App/Assets/AddAssetPage.razor
  src/web/NomaNova.Ojeda.Web/Shared/Components/FormSection.razor
  src/web/NomaNova.Ojeda.Web/wwwroot/css/app.css
Due: azure-pipelines-web.yml
